! special
*.foreground:   #d1d8df
*.background:   #060709
*.cursorColor:  #d1d8df

! black
*.color0:       #0c0f10
*.color8:       #78afd2

! red
*.color1:       #ba181b
*.color9:       #9e2a2b

! green
*.color2:       #386641
*.color10:      #95b87b

! yellow
*.color3:       #faf0ca
*.color11:      #c79852

! blue
*.color4:       #118ab2
*.color12:      #9ec9e8

! magenta
*.color5:       #840032
*.color13:      #6cdfcb

! cyan
*.color6:       #15616d
*.color14:      #99c4e1

! white
*.color7:       #dee3e8
*.color15:      #cda46f

! hiding the scrollBar on right
URxvt.scrollBar: false

! adding a nice padding between border and texts
URxvt.internalBorder: 7
URxvt.borderColor: #060709

! Setting fonts with special symbols
#define font1         Noto Sans Mono
#define font2         Cascadia Mono
#define font3         DejaVu Sans Mono for Powerline
#define font4         Noto Sans Mono CJK JP

URxvt*letterSpace: 0
URxvt*font:           xft:font1:pixelsize=12, xft:font2:pixelsize=12:minspace=false, xft:font3:pixelsize=12,xft:font4:pixelsize=12
URxvt*boldFont:       xft:font1:bold:pixelsize=12, xft:font2:pixelsize=12:minspace=False,xft:font3:pixelsize=12,xft:font4:pixelsize=12
URxvt*italicFont:     xft:font1:italic:pixelsize=12, xft:font2:pixelsize=12:minspace=False,xft:font3:pixelsize=12,xft:font4:pixelsize=12
URxvt*boldItalicFont: xft:font1:bold:italic:pixelsize=12, xft:font2:pixelsize=12:minspace=False, xft:font3:pixelsize=12, xft:font4:pixelsize=12

! Dont make it too high.. Everything will look zoomed. xD
Xft.dpi: 110

URxvt.perl-ext-common: selection-to-clipboard

! URxvt.keysym.Shift-Control-V: eval:paste_clipboard
! URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped